/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
    .navbar-collapse {
        position: absolute;
        top: 60px;
        width: 100%;
        z-index: 999;
        left: 0px;
        padding: 0px 30px;
        background: linear-gradient(107.54deg, #5330E1 0%, #9D38E5 120%);
    }
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) {}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) {}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {}