html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Source Sans Pro';
    background-color: #ecf2f7;
}

.heading {
    font-family: 'Source Sans Pro';
    font-weight: 600;
    color: #161c2d;
}

.heading-child {
    color: #161c2db3;
}

/* Navbar */
.nav-active {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.nav-item .active {
    color: #F9C200 !important;
}

.navbar-brand {
    font-family: 'Source Sans Pro';
    width: 101px;
}

.navbrand-name {
    font-weight: 600;
}

.nav-item {
    margin-left: 15px;
}

.nav-link {
    transition: 0.5s all;
    color: #161c2db3 !important;
}

.nav-link:hover {
    color: #F9C200 !important;
}

/* Jumbotron */
.jumbotron {
    height: 100vh;
    background-color: white;
}

.jumbotron-content h2 {
    font-family: 'Source Sans Pro';
    font-weight: 600;
    color: #4E2BC5;
}

.jumbotron-card {
    box-shadow: 0px 2px 40px rgb(32, 32, 32, 0.1);
}

/* About */
.about {
    margin-top: -168px;
    background-color: #ecf2f7;
}

.heading-about {
    padding-top: 225px;
}

.coder {
    margin-top: -70px;
}

.about-quote {
    font-size: 16px;
}

/* Tutorial */
.heading-tutorial {
    padding-top: 50px;
}

/* Contact */
.heading-contact {
    padding-top: 50px;
}

.contact-icon {
    font-size: 24px;
}

/* FAQ */
.faq-icon {
    font-size: 24px;
}

.faq-answer {
    padding-left: 12px;
}