body {
    font-family: 'Source Sans Pro';
}

/* Navbar */
.navbar-brand {
    width: 35px;
}

.navbrand-name {
    font-weight: 600;
}

.nav-item {
    margin-left: 15px;
}

.nav-link {
    color: white !important;
}

.btn-see-on-github {
    background-color: #ec932d;
    color: white;
    border: none;
    border-radius: 5px;
}

.btn-see-on-github:hover {
    color: white;
    box-shadow: 0px 0px 5px #ec932d;

}

/* Jumbotron */
.jumbotron-fluid {
    height: 550px;
    width: 100%;
    background-position: center;
    background: linear-gradient(107.54deg, #5330E1 0%, #9D38E5 100%);
}

.jumbotron-content {
    padding-top: 95px;
}

.jumbotron-content h2 {
    font-weight: 600;
}

.img-jumbotron {
    display: block;
    margin: auto;
    margin-top: -200px;
    width: 600px;
    object-fit: cover;
    filter: drop-shadow(0px 4px 15px rgba(0, 0, 0, 0.25));
}