/* Navbar */
.navbar {
    background: linear-gradient(77.35deg, #2A4AAF 11.33%, #A41EDF 73.71%);
}

.nav-link {
    color: white !important;
    margin-left: 15px;
}

/* Jumbotron */
.jumbotron-fluid {
    height: 550px;
    background: linear-gradient(77.35deg, #2A4AAF 11.33%, #A41EDF 73.71%);
}

.jumbotron-content {
    padding-top: 95px;
}

.img-jumbotron {
    display: block;
    margin: auto;
    margin-top: -200px;
    width: 600px;
    object-fit: cover;
    filter: drop-shadow(0px 4px 15px rgba(0, 0, 0, 0.25));
}