html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Source Sans Pro';
    background-color: #ecf2f7;
}

.heading {
    font-family: 'Source Sans Pro';
    font-weight: 600;
    color: #161c2d;
}

.heading-child {
    color: #161c2db3;
}

/* Navbar */
.navbar {
    margin-bottom: -65px;
    /* z-index: 1; */
}

.nav-active {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.nav-item .active {
    color: #F9C200 !important;
}

.navbar-brand {
    font-family: 'Source Sans Pro';
    width: 101px;
}

.navbrand-name {
    font-weight: 600;
}

.nav-item {
    margin-left: 15px;
}

.nav-link {
    transition: 0.5s all;
    color: #161c2db3 !important;
}

.nav-link:hover {
    color: #F9C200 !important;
}

.btn-see-on-github {
    display: inline-block;
    background-color: #F9C200;
    color: white;
    border: none;
    border-radius: 5px;
    box-shadow: 0px 0px 7px #F9C200;
}

.btn-see-on-github:hover {
    color: white;
    box-shadow: 0px 0px 15px #F9C200;
    margin-bottom: -10px;
    padding-bottom: -10px;
}

/* Jumbotron */
.jumbotron-fluid {
    height: 550px;
    width: 100%;
    position: relative;
    background: linear-gradient(107.54deg, #5330E1 0%, #9D38E5 100%);
}

.jumbotron-content {
    padding-top: 45px;
}

.jumbotron-content h2 {
    font-family: 'Source Sans Pro';
    font-weight: 600;
}

.jumbotron-info-card {
    margin-top: -87px;
}

.jumbotron-card {
    box-shadow: 0px 2px 40px rgb(32, 32, 32, 0.1);
}

/* About */
.about {
    margin-top: -168px;
    background-color: #ecf2f7;
}

.heading-about {
    padding-top: 225px;
}

.about-content p {
    color: #161c2db3;
}

.about-quote {
    font-size: 16px;
}

/* Tutorial */
.heading-tutorial {
    padding-top: 50px;
}

/* Contact */
.heading-contact {
    padding-top: 50px;
}

.contact-icon {
    font-size: 24px;
}

/* FAQ */
.faq-icon {
    font-size: 24px;
}

.faq-answer {
    padding-left: 12px;
}