body {
    font-family: 'Source Sans Pro';
}

/* Navbar */
.navbar {
    margin-bottom: -65px;
}

.navbar-brand {
    font-family: 'Source Sans Pro';
    width: 35px;
}

.navbrand-name {
    font-weight: 600;
}

.nav-item {
    margin-left: 15px;
}

.nav-link {
    transition: 0.5s all;
}

.nav-link:hover {
    color: #F9C200 !important;
}

.btn-see-on-github {
    display: inline-block;
    background-color: #F9C200;
    color: white;
    border: none;
    border-radius: 5px;
    box-shadow: 0px 0px 7px #F9C200;
}

.btn-see-on-github:hover {
    color: white;
    box-shadow: 0px 0px 15px #F9C200;
    margin-bottom: -10px;
    padding-bottom: -10px;
}

/* Jumbotron */
.jumbotron-fluid {
    height: 550px;
    width: 100%;
    background-position: center;
    background: linear-gradient(107.54deg, #5330E1 0%, #9D38E5 100%);
}

.jumbotron-content {
    padding-top: 45px;
}

.jumbotron-content h2 {
    font-family: 'Source Sans Pro';
    font-weight: 600;
}

.img-jumbotron {
    display: block;
    margin: auto;
    margin-top: -200px;
    width: 600px;
    object-fit: cover;
    filter: drop-shadow(0px 4px 15px rgba(0, 0, 0, 0.25));
}

/* About */
.about {
    margin-top: -168px;
    height: 500px;
}

.heading-about {
    font-family: 'Source Sans Pro';
    font-weight: 600;
    padding-top: 225px;
    color: #161c2d;
}

.about-content p {
    color: #161c2db3;
}